<!-- header -->
<header class="top-header">
  <div class="top-bar">
    <div class="top-bar-center">
      <img src="assets/header_logo.png" alt="logo TunAd">
    </div>
    <div class="top-bar-links">
      <a href="https://tunad.io/" target="_blank">Tunad.io</a>
      <a href="https://www.linkedin.com/company/tunadplatform/mycompany/" target="_blank">Linkedin</a>
      <a class="link-sign-in" (click)="signIn()">Sign in</a>
      <button class="button-sign-up" (click)="signUp()">Sign Up</button>
    </div>
  </div>
</header>
<!-- fim do header -->

<div class="body-banner">
  <div class="banner">
      <div class="logo">
          <div class="img-logo">
              <img src="assets/header_logo.png" alt="logo TunAd">
          </div>

          <div class="division"></div>
          <h1>Planning <br> Poker</h1>
      </div>

      <div class="img-poker">
          <img src="assets/planningPoker.png" alt="planningPoker">
      </div>
  </div>
</div>

<div class="footer">
  <H1>Login or Create Account</H1>
</div>